*~
*.a
*.la
*.diff
*.dll*
*.exe
*.mo
*.o
*.lo
*.pc
*.pot
*.so*
.*.swp
.depend
.deps
.libs
.dirstamp
/config.h
/config.h.in
/config.log
/stamp-h1
/stamp-h2
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/configure
/libtool
/config.status
/config.sub
/config.guess
/depcomp
/install-sh
/ltmain.sh
/missing
/libradiodns.pc
/libradiodns-uninstalled.pc
/radiodns
